*{
    box-sizing: border-box;
    margin: auto;
}
body{
    background:rgb(128, 128, 128);
}
.userCard {
    width: 400px;
    height: 600px;

    background-color:white;
    margin: 20px;
    color: black;
    border-radius: 16px;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 10%;
}
.cardHat > img{
    width: 99%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
    top: 100%;
    overflow: hidden; 
}
.userAvatar > img {
    width: 30%;
    height: 30%;
    border: 7px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 100px;
    z-index: 2;
}
.userName {
    position: relative;
    bottom: 15%;
    font-size: large;
    font-weight: bold;
}
.userRedirect {
    position:relative;
    bottom: 14%;
    font-size: small;
    font-style: italic;
}
.userInfo {
    position: relative;
    bottom: 13%;
    font-style: oblique;
}
.buttons {
    display: inline-flex;
    width: 45%;
    position: relative;
    bottom: 7%;
}